

body {
    background-color: rgb(200, 231, 213);
}

.main__content {
    margin-top: 100px;
}

.main__button {
}

.main__result {
    min-height: 20rem;
    margin-top: 20px;
    padding: 20px;
    border: 2px solid darkgreen;
    border-radius: 10px;

    font-size: x-large;

    background-color: rgb(154, 231, 186);
}